{% extends 'base.html' %}

{% block content %}
<h1>survey</h1>
<form action="{% url 'survey' %}" method="post">
    {% csrf_token %}
    <table border="1">
        <tr align="center">
            <td>Item ID#</td>
            <td>QUESTION</td>
            <td>No / Unsure</td>
            <td>Yes</td>
            <td>Age 0-1</td>
            <td>Age 1-2</td>
            <td>Age 2-3</td>
            <td>Age 3-4</td>
            <td>Age 5-7</td>
            <td>Age 8-11</td>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{question.item_id}}</td>
            <td>{{question.question}}</td>
            <td><input type="radio" name="{{question.item_id}}" value="no"></td>
            <td><input type="radio" name="{{question.item_id}}" value="yes"></td>
            <td><input type="checkbox" name="age-0-1"></td>
            <td><input type="checkbox" name="age-1-2"></td>
            <td><input type="checkbox" name="age-2-3"></td>
            <td><input type="checkbox" name="age-3-4"></td>
            <td><input type="checkbox" name="age-5-7"></td>
            <td><input type="checkbox" name="age-8-11"></td>
        </tr>
        {% endfor %}
    </table>
    <!--<input type="submit" value="Submit" />-->
</form>
{% endblock %}